<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Calculo de IMC</title>
</head>

<body>
    <h1>Calculo de Indice de Masa Corporal</h1>
    <form action="/CIMC" method="post">
        <div id="main" class="container-sm">
            <div class="col-12">
                <div class="form-floating mb-3 col-6">
                    <div class="form-floating mb-3 row">
                        <label for="floatingInput">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="floatingInput" placeholder="Ej: David...">
                    </div>
                    <div class="form-floating row-5 mb-3 row">
                        <label for="floatingInput">Estatura(cm)</label>
                        <input type="number" class="form-control" step="any" name="altura" id="floatingInput" placeholder="Nota">
                    </div>
                    <div class="form-floating mb-3 row">
                        <label for="floatingInput">Peso(kg)</label>
                        <input type="number" class="form-control" step="any" name="peso" id="floatingInput" placeholder="Nota">
                    </div>
                </div>
                <!-- <div class="form-floating mb-3 col-6">
                    <div class="form-floating mb-3 col-6">
                        <img class="pics" src="https://p5y7s8q3.rocketcdn.me/wp-content/uploads/2020/07/blog_IMC.jpg">
                    </div>
                </div> -->
                <div class="col-12">
                    <button class="btn" type="submit">Calcular</button>
                </div>
            </div>



        </div>
    </form>
</body>

</html>